#QUESTION1

In [4]:
class departments:
    def __init__(self, deptId,deptname,noOfstaff):
        self.deptId=deptId
        self.deptname=deptname
        self.noOfstaff=noOfstaff
        
class sales(departments):
    print('Sales Department child class created')
    def display(self):
        print(self.deptId,self.deptname,self.noOfstaff)
P=sales(111,"sales",10)
P.display()
class accounts(departments):
    print('Accounts Department child class created')
    def display(self):
        print(self.deptId,self.deptname,self.noOfstaff)
Q=accounts(122,"accounts",8)
Q.display()
class purchase(departments):
    print('purchase Department child class created')
    def display(self):
        print(self.deptId,self.deptname,self.noOfstaff)
R=purchase(123,"purchase",90)
R.display()
class production(departments):
    print('production Department child class created')
    def display(self):
        print(self.deptId,self.deptname,self.noOfstaff)
S=production(144,"procudtion",78)
S.display()

Sales Department child class created
111 sales 10
Accounts Department child class created
122 accounts 8
purchase Department child class created
123 purchase 90
production Department child class created
144 procudtion 78

#QUESTION2

In [2]:
from abc import ABC, abstractmethod   
class Car(ABC):   
    def mileage(self):   
        pass
    def speed(self):
        pass
    def pricefunctons(self):
        pass
class Maruthi800(Car):   
    def mileage(self):   
        print("The mileage is 30kmph")
    def speed(self):
        print("speed is 60kmph")
    def pricefunctions(self):
        print(80000)
class MaruthiZen(Car):   
    def mileage(self):   
        print("The mileage is 25kmph ")
    def speed(self):
        print("speed is 60kmph")
    def pricefunctions(self):
        print(90000)

In [3]:
m800=Maruthi800()
m800.mileage()
m800.speed()
m800.pricefunctions()

mzen=MaruthiZen()
mzen.mileage()
mzen.speed()
mzen.pricefunctions()

The mileage is 30kmph
speed is 60kmph
80000
The mileage is 25kmph
speed is 60kmph
90000

# QUESTION3

In [10]:
# Connecting to the database
import sqlite3
conn = sqlite3.connect('test.db')
print("Connected to the database successfully")
# cursor object
cursor_obj = conn.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS GEEK")

# Creating a table
table = """ CREATE TABLE STUDENTS (
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Marks INT); """
 
cursor_obj.execute(table)
print("Table is ready")

# Inserting values into the table
cursor_obj.execute("INSERT INTO STUDENTS (First_Name, Last_Name, Marks)\
            VALUES ('Sonoo', 'Jaiswal', 60)")

cursor_obj.execute("INSERT INTO STUDENTS (First_Name, Last_Name, Marks)\
            VALUES ('James', 'William', 80)")

cursor_obj.execute("INSERT INTO STUDENTS (First_Name, Last_Name, Marks)\
            VALUES ('Swati', 'Sironi', 82)")

cursor_obj.execute("INSERT INTO STUDENTS (First_Name, Last_Name, Marks)\
            VALUES ('Chetna', 'Singh', 72)")

conn.commit()
print("Records created successfully")

print("\n")
# SELECT Operation
cursor = cursor_obj.execute("SELECT First_Name, Last_Name, Marks from STUDENTS")
for row in cursor:
  print("First Name: ", row[0])
  print("Last Name: ", row[1])
  print("Marks: ", row[2])
  print("\n")

print("Operation completed successfully")
cursor_obj.close()
conn.close()

Connected to the database successfully
Table is ready
Records created successfully


First Name:  Sonoo
Last Name:  Jaiswal
Marks:  60


First Name:  James
Last Name:  William
Marks:  80


First Name:  Swati
Last Name:  Sironi
Marks:  82


First Name:  Chetna
Last Name:  Singh
Marks:  72


Operation completed successfully